body{
  background-color: rgba(30,30,30,1);
  font-family: 'Neucha', cursive !important
}

h1{
  color: white;
  text-align: center;
}

.nadpis{
  padding-top: 5%;
  padding-bottom: 4%;
  font-size: 100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

.gallery {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  transform: translateZ(0);
}
.gallery figure {
  flex-basis: 33.333%;
  padding: 10px;
  overflow: hidden; 
}
.gallery figure img {
  width: 100%;

  transition: all 0.3s ease-in-out;
}
.gallery figure figcaption {
  display: none;
}

.testing {
  display: block;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  padding: 8px 30px;
  font-size: .75em;
  letter-spacing: .35em;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease; 
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 2.5%;
}
